name: Reusable Scheduled Job

on:
  workflow_call:
    inputs:
      message:
        description: Message to print
        required: true
        type: string

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: |
          echo "${{ inputs.message }}" $(date)
          echo " === "
          for i in ${{ inputs.message }}; do
            echo "$i <--"
          done
